<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cs.hrbnu.mapper.CourseMapper">
    <resultMap id="courseResultMap" type="edu.cs.hrbnu.model.Course">
        <id property="courseId" column="courseId" javaType="String" />
        <result property="courseName" column="courseName" javaType="String" />
        <result property="teacherId" column="teacherId" javaType="String" />
        <result property="semester" column="semester" javaType="Integer" />
    </resultMap>

    <select id="getCourseById" resultMap="courseResultMap">
        select *
        from course
        where courseId=#{id}
    </select>
</mapper>