<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cs.hrbnu.DAO.TeacherMapper">
    <resultMap id="teacherResultMap" type="edu.cs.hrbnu.model.Teacher">
        <id property="teacherId" column="teacherId" javaType="String" />
        <result property="password" column="password" javaType="String" />
        <result property="teacherName" column="teacherName" javaType="String" />
        <result property="title" column="title" javaType="String" />
        <result property="myselfEvaluateContent" column="myselfEvaluateContent" javaType="String" />
        <result property="myselfEvaluateScore" column="myselfEvaluateScore" javaType="Double" />
        <result property="helpTeacherName" column="helpTeacherName" javaType="String" />
        <result property="accepterTeacherName" column="accepterTeacherName" javaType="String" />
        <result property="teacherType" column="teacherType" javaType="Boolean" />
        <result property="leaderType" column="leaderType" javaType="Boolean" />
        <result property="monitorType" column="monitorType" javaType="Boolean" />
        <result property="lastLoginTime" column="lastLoginTime" javaType="Date" />
        <result property="idCard" column="idCard" javaType="String" />
    </resultMap>

    <select id="selectAdminById" resultMap="teacherResultMap">
        select *
        from admin
        where id=#{id}
    </select>
</mapper>